<h1>Price comparison</h1>

  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script type="text/javascript">
    google.charts.load('current', {'packages':['corechart']});
    google.charts.setOnLoadCallback(drawChart);
    const chartData = JSON.parse("<%= @chart_points.to_json %>")
    console.log(chartData)
    function drawChart() {
     var data = google.visualization.arrayToDataTable([
       ['Price', 'Product'],
       ...chartData
       ]);

     var options = {
       title: 'Product prices',
       hAxis: {title: 'Price', minValue: 1, maxValue: 1, gridlines: {count: 0}, minorGridlines: {count: 0}},
       vAxis: {title: 'Product', minValue: 1, maxValue: 3.5, minorGridlines: {count: 0}},
       legend: 'none',
       pointSize: 15
     };

     var chart = new google.visualization.ScatterChart(document.getElementById('chart_div'));

     chart.draw(data, options);
   }
 </script>

<div id="chart_div" style="width: 1200px; height: 900px;"></div>

<h3>Detailed comparison</h3>

<p><%= @offer.title %></p>

<p><%= @orgininal_offer.title %></p>

<ul>
  <% @received_offers.each do |offer| %>
  <li><%= offer.title %></li>
  <ul>
    <% @offer_lines.each do |line| %>
    <% product = Product.find(line.product_id) %>
    <% if line.offer_id == offer.id %>
    <li><%= line.target_offer_line_id %>, <%= product.name %>: $<%= line.price %></li>
    <% end %>
    <% end %>
  </ul>
  <% end %>




