<div class="container">
  <h1>Price comparison</h1>


 <div id="chart_div" style="width: 1200px; height: 900px;" data-target="<%=  @chart_points.to_json %>"></div>

 <h3>Detailed comparison</h3>


 <p><%= @orgininal_offer.title %></p>


 <% @received_offers.each do |offer| %>
 <div class="content-container">
   <h3><%= offer.title %></h3>
   <div class="row">
    <% @offer_lines.each do |offer_line| %>
    <% product = Product.find(offer_line.product_id) %>
    <% if offer_line.offer_id == offer.id %>
    <div class="col">
      <ul class="product-list">
        <li><b>Product</b>: <%= product.name %>: $<%= offer_line.price %></li>
        <li><b>Brand</b>: <%= offer_line.product.brand %></li>
        <li><b>SKU</b>: <%= offer_line.product.nr_per_sku %> * <%= offer_line.product.weight_in_kg %> kg</li>
      </ul>
    </div>
    <% end %>
    <% end %>
  </div>
 </div>
<% end %>


</div>


  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script type="text/javascript">
    google.charts.load('current', {'packages':['corechart']});
    google.charts.setOnLoadCallback(drawChart);
    const chartData = JSON.parse(document.getElementById('chart_div').dataset.target)

    function drawChart() {
       var dataTable = new google.visualization.DataTable();
        dataTable.addColumn('number', 'Price');
        dataTable.addColumn('number', 'Product');
        dataTable.addColumn({type: 'string', role: 'tooltip', 'p': {'html': true}});
        dataTable.addColumn({type: 'string', role: 'style'});

        dataTable.addRows(
          chartData
        );

        var options = {
          title: 'Product prices',
          hAxis: {title: 'Price', minValue: 1, maxValue: 1, gridlines: {count: 0}, minorGridlines: {count: 0}},
          vAxis: {title: 'Product', minValue: 1, maxValue: 3.5, minorGridlines: {count: 0}},
          legend: 'none',
          pointSize: 15,
          tooltip: { isHtml: true }
        };

        var chart = new google.visualization.ScatterChart(document.getElementById('chart_div'));
        chart.draw(dataTable, options);





     // var chart = new google.visualization.ScatterChart(document.getElementById('chart_div'));

     //chart.draw(data, options);
   }
 </script>
