<div class="container">
  <br>
    <h2><b><%= @user.company_name %></b></h2>
  <br>
    <h3><b>Your dashboard</b></h3>
  <div class="links" >
      <div class="link" data-url="<%= my_products_user_index_path %>" style="cursor: pointer;">
        <h2 class="link-text" data-url="<%= my_products_user_index_path %>">Product Range</h2>
        <%= link_to '<i class="fas fa-plus"></i></i> Create a new product'.html_safe,  new_product_path, class: "link-text" %>
      </div>
      <div class="link" data-url="<%= offers_requested_offers_path %>" style="cursor: pointer;">
        <h2 class="link-text" data-url="<%= offers_requested_offers_path %>">Offer requests</h2>
        <%= link_to '<i class="fas fa-plus"></i> Create new offer request'.html_safe,  new_offer_path, class: "link-text" %>
      </div>
      <div class="link" data-url="<%= offers_received_offers_path %>" style="cursor: pointer;">
        <h2 class="link-text" data-url="<%= offers_received_offers_path %>">Offers</h2>
      </div>
      <div class="link" data-url="<%= contracts_offers_path %>" style="cursor: pointer;">
        <h2 class="link-text" data-url="<%= contracts_offers_path %>">Contracts</h2>
      </div>
      <div class="link" data-url="<%= products_path %>" style="cursor: pointer;">
        <h2 class="link-text" data-url="<%= user_index_path %>">Search products</h2>
      </div>
  </div>
</div>
