<div class="container">
  <div class="links">
    <div class="link">
      <%= link_to 'Product range',  my_products_user_index_path, class: "link-text" %>
      <div class="link-plus"><i class="fas fa-plus-square"></i></div>
    </div>
    <div class="link">
      <%= link_to 'Offer requests', offers_requested_offers_path, class: "link-text" %>
      <div class="link-plus"><i class="fas fa-plus-square"></i></div>
    </div>
    <div class="link">
      <%= link_to 'Offers', offers_received_offers_path, class: "link-text" %>
    </div>
    <div class="link">
      <%= link_to 'Contracts', contracts_offers_path, class: "link-text" %>
      <div class="link-plus"><i class="fas fa-plus-square"></i></div>
    </div>
    <div class="link">
      <%= link_to 'Search products', user_index_path, class: "link-text" %>
    </div>
  </div>
</div>
