<div class="row no-gutters justify-content-start">
  <div class="col-12 col-md-6">
    <div class="card-user">
      <div>
        <p><b>Status</b>: <%= @offer.status %></p>
        <p><b>Delivery period</b>: <%= @offer.start_date %> - <%= @offer.end_date %></p>
        <% if @offer.remark != nil %>
          <p><b>Conditions</b>: <%= @offer.remark %></p>
        <% end %>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-6">
    <div class="card-user">
      <div>
        <h2>Buyer details</h2>
      </div>
      <div>
        <p><b>Company name</b>: <%= @offer.from_user.company_name %></p>
        <p><b>Address</b>: <%= @offer.from_user.address %>, <%= @offer.from_user.country %></p>
      </div>
    </div>
  </div>
</div>
