<div class="row no-gutters justify-content-start">
  <div class="col-12 col-md-6">
    <div class="card-user">
      <div>
        <p><b>Status: <%= @offer.status %></b></p>
        <p><b>Delivery period: <%= @offer.start_date %> - <%= @offer.end_date %></b></p>
        <% if @offer.remark != nil %>
          <p><b>Conditions: <%= @offer.remark %></b></p>
        <% end %>
        <% if @offer.deadline != nil %>
          <p><b>Deadline:</b> <%= @offer.deadline %></p>
        <% end %>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-6">
    <div class="card-user">
      <div>
        <h2>Buyer details</h2>
      </div>
      <div>
        <p>Company name: <%= @offer.from_user.company_name %></p>
        <p>Address: <%= @offer.from_user.address %>, <%= @offer.from_user.country %></p>
      </div>
    </div>
  </div>
</div>
