<div class="container">
  <div class="content-container">
  <% if current_user.seller? %>
    <h1>Received offer requests</h1>
    <% @all_offers.each do |offer| %>
      <% if offer.country == current_user.country  %>
        <div class="card-user">
          <p><b><%= offer.title %></b></p>
          <p><%= link_to "View request", offer_path(offer) %></p>
        </div>
      <% end %>
    <% end %>
  <% else %>
    <h1>Ongoing offer requests</h1>
      <% @offers.each do |offer| %>
        <div class="card-user">
          <p><b><%= link_to offer.title, offer_path(offer) %></b></p>
          <p><b>Available to producers in:</b> <%= offer.country %></p>
          <% if offer.deadline? %>
            <p><b>Deadline:</b> <%= offer.deadline %></p>
          <% end %>
        </div>
      <% end %>
      <div class="button-frame">
        <%= link_to "Create a new request", new_offer_path, class: "btn btn-success" %>
      </div>
  <% end %>
  </div>
</div>



