<div class="container">
  <h1><%= @offer.title %></h1>
  <br>
  <div class="content-container">
    <h2>Offer info</h2>
    <% if @offer.status == "requested" %>
      <%= render "details_offer_request" %>
    <% else %>
      <%= render "confirmed_offer" %>
    <% end %>
    <h2>Product overview</h2>
    <div class="row justify-content-start">
      <div class="col-12 col-md-6">
        <div>
          <% @offer.offer_lines.each do |offer_line| %>
            <ul class="product-list">
              <li>Product: <b><%= offer_line.product.name %></b></li>
              <li>Brand: <b><%= offer_line.product.brand %></b></li>
              <li>SKU: <b><%= offer_line.product.nr_per_sku %> * <%= offer_line.product.weight_in_kg %> kg</b></li>
              <li>Description: <b><%= offer_line.product.description %></b></li>
              <li>Quantity: <b><%= offer_line.quantity_in_tons %> tons</b></li>
              <% if @offer.status != "requested" %>
                <li>Price: <b>€<%= offer_line.price %></b></li>
              <% end %>
            </ul>
          <% end %>
        </div>
      </div>
    </div>
    <div class="button-frame">
      <% if @offer.status == "sent" %>
        <div>
          <%= link_to "Send counter offer", offer_c_offers_path(@offer), method: :get, class: "btn btn-secondary" %>
        </div>
        <div>
          <%= link_to "Accept", offer_path(@offer, offer: {status: "accepted"}), method: :put, class: "btn btn-success" %>
        </div>
        <div>
          <%= link_to "Decline", offer_path(@offer, offer: {status: "declined"}), method: :put, class: "btn btn-danger" %>
        </div>
      <% end %>

      <% if current_user.seller && @offer.status == "requested" %>
        <div>
          <%= link_to "Send offer", offer_c_offers_path(@offer), method: :get, class: "btn btn-secondary" %>
        </div>
        <div>
          <%= link_to "Decline", offer_path(@offer, offer: {status: "declined"}), method: :put, class: "btn btn-danger" %>
        </div>
      <% end %>

      <% if current_user.seller && @offer.status == "accepted" %>
        <div>
          <%= link_to "Confirm", offer_path(@offer, offer: {status: "confirmed"}), method: :put, class: "btn btn-success" %>
        </div>
        <div>
          <%= link_to "Decline", offer_path(@offer, offer: {status: "declined"}), method: :put, class: "btn btn-danger" %>
        </div>
      <% end %>
    </div>
  </div>
</div>

